/* This file is to adjust positions and margins of different sections */
html {
  scroll-behavior: smooth;
  scroll-padding: 3em;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: General Sans, sans-serif;
  margin: 0;
  padding: 0;
}

a:hover,
button:hover {
  cursor: pointer;
}

.topnav-two {
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 1em;
  display: none;
}

.menu-button,
.close-button {
  background: transparent;
  color: black;
  position: absolute;
  border: 0;
  top: 1.2em;
  left: 1em;
  display: none;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 0;
  border: 2px solid black;
}

.container {
  width: 80%;
  margin: auto;
}

.topnav {
  padding-top: 1.25em;
  display: grid;
  grid-template-columns: 1fr auto;
}
.logo {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 10px;
}

.topnav-links {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  grid-gap: 1.25em;
}

.opening {
  display: grid;
  align-items: left;
  grid-gap: 1em;
}

.opening-links {
  margin-top: 10px;
}

.opening-image {
  margin-top: 5em;
  width: 100%;
  height: auto;
}

.section-one {
  margin-top: 6em;
  display: grid;
  grid-template-columns: auto auto;
}

.stat {
  display: grid;
  place-items: left;
  place-content: left;
}

.stats-box {
  display: grid;
  grid-gap: 1.2em;
  place-items: left;
}

.works-section {
  margin-top: 6em;
}

.arrow {
  background: transparent;
  height: 45px;
  width: 45px;
  border: 1.5px solid black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-left: 25px;
  margin-top: 10px;
}

.works-header {
  display: flex;
  flex-direction: row;
  place-items: center;
}
.work-grid {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 1em;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.works {
  width: 95%;
  display: grid;
  place-items: center;
  margin: auto;
}

.one {
  flex-grow: 2;
}

.two {
  flex-grow: 3;
}

.three {
  flex-grow: 3;
}

.four {
  flex-grow: 2;
}

.work {
  margin: 1em;
}

img {
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .work-grid {
    display: block;
    width: 90%;
  }
}

.stars {
  display: flex;
  flex-direction: row;
}

.image {
  position: absolute;
}

.reviews-section {
  margin-top: 5em;
  background-color: black;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 5em;
}
.name-rating {
  display: grid;
  place-items: left;
  margin-left: 0;
  padding-top: 1em;
  position: relative;
  top: -10px;
  right: -75px;
}

.reviews {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 3.5em;
}

.faq-section {
  margin-top: 6em;
  padding-bottom: 5em;
}

.footer {
  background-color: #f1f4fa;
  padding-top: 3.5em;
  padding-bottom: 2em;
}

.footer-logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 2em;
}

.seperation {
  height: 0;
  width: 80%;
  border: 1px solid #e1e5ee;
  margin: auto;
  margin-top: 2em;
}

.copyrights {
  width: 100%;
  margin: auto;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 1.2em;
}

.topnav-two {
  background-color: black;
  padding-top: 0.75em;
  padding-bottom: 0.6em;
}

.show-text {
  background-color: transparent;
  border: 0;
}

.topnav-links-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  animation: topnavMenu 300ms ease-in-out 1;
  transform-origin: top;
  display: none;
}

.topnav-links-two {
  display: none;
}

.topnav-link-two {
  color: #ffffff;
  padding: 1em 1.5em;
}

@media screen and (max-width: 500px) {
  .menu-button {
    display: block;
  }

  .topnav {
    display: none;
  }

  .topnav-two {
    display: grid;
  }
}

* {
  animation: fadeIn 500ms ease-in-out 1;
}
