a {
  text-decoration: none;
}

.topnav-link {
  color: black;
}

.contact {
  color: #ffffff;
  background-color: black;
  padding: 0.75em 1em;
}

.opening-contact {
  color: #ffffff;
  background-color: #2660ff;
  padding: 0.75em 1.25em;
  border: 2px solid #2660ff;
}

.opening-works {
  color: black;
  background-color: transparent;
  padding: 0.75em 1.6em;
  box-sizing: border-box;
  border: 2px solid #f2f1f2;
  margin-left: 10px;
}

.about-us {
  color: #ffffff;
  background-color: black;
  padding: 0.75em 1em;
}

.footer-links > a {
  font-size: 13px;
  color: #818b9e;
}

.footer-links {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 20px 20px 20px;
  grid-gap: 10px;
}

.copyrights-links > a {
  color: #818b9e;
  font-size: 0.7em;
}

.copyrights-links {
  display: grid;
  grid-template-columns: 100px 100px;
}

.topnav-links-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  animation: topnavMenu 300ms ease-in-out 1;
  transform-origin: top;

  display: none;
}

.topnav-links-two {
  display: none;
}

.topnav-link-two {
  color: #ffffff;
  padding: 1em 1.5em;
}

@keyframes topnavMenu {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.icon {
  display: flex;
}
