a {
  text-decoration: none;
}

.topnav-link {
  color: black;
}

.contact {
  color: #ffffff;
  background-color: black;
  padding: 0.75em 1em;
}

.opening-contact {
  color: #ffffff;
  background-color: #2660ff;
  padding: 0.75em 1.25em;
  border: 2px solid #2660ff;
}

.opening-works {
  color: black;
  background-color: transparent;
  padding: 0.75em 1.6em;
  box-sizing: border-box;
  border: 2px solid #f2f1f2;
  margin-left: 10px;
}

.about-us {
  color: #ffffff;
  background-color: black;
  padding: 0.75em 1em;
}

.footer-links > a {
  font-size: 13px;
  color: #818b9e;
}

.footer-links {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 20px 20px 20px;
  grid-gap: 10px;
}

.copyrights-links > a {
  color: #818b9e;
  font-size: 0.7em;
}

.copyrights-links {
  display: grid;
  grid-template-columns: 100px 100px;
}
