@media screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }

  .opening-head {
    font-size: 35px;
  }

  .description-about {
    font-size: 13px;
  }

  .review-text {
    font-size: 13px;
  }

  .question {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .topnav {
    display: none;
  }
}
